.itemCard {
  background-color: white;
  min-width: 394px;
  max-width: 394px;
  height: 170px;
  border-radius: 8px;
  margin: 10px;
  width: 30%;
  /* border: 1px solid black; */
  border: 1px solid #f0f0f0;
  flex: 0 1 calc(33% - 20px);
  padding: 10px;
}
