.itemCard {
  background-color: white;
  min-width: 379px;
  max-width: 379px;
  height: 175px;
  border-radius: 8px;
  margin: 10px;
  width: 30%;
  border: 1px solid #f0f0f0;
  flex: 0 1 calc(33% - 20px);
  padding: 10px;
}

.imageItemCard {
  width: 30%;
  margin-right: 2%;
  border-radius: 8px;
  overflow: hidden;
}

.imageItemCard img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.itemCard:hover .imageItemCard img {
  transform: scale(1.1);
}

.itemCardSection1 {
  display: flex;
  width: 68%;
  justify-content: space-between;
  height: 100%;
}

.itemCardSection1Content {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  justify-content: space-between;
}

.itemCardSection2 {
  display: flex;
  margin-top: 5px;
  height: calc(25% - 5px);
  align-items: center;
  justify-content: space-between;
}
